body {
    background-color: Black;
  }
  
  .centerThings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #coffeeButton {
    height: 200px;
    width: 200px;
    border: none;
    background: none;
    cursor: pointer;
    &:focus {
      outline: 2px dashed #17171D;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
    &::-moz-focus-inner {
      border: 0;
    }
    svg {
      outline: none;
      transition: transform 0.3s linear;
    }
  }
  
  .sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  